* {
  margin: 0;
  padding: 0;
}


header {
  background: black;
  width: 100%;
  height: 150px;
}

header img {
    width: 25%;
    display: inline-block;
    margin: 1%;
}

header h1 {
  color: goldenrod;
  display: inline-block;
  float: right;
  font-size: 100px;
  margin-right: 4%;
  margin-top: 1%;
  font-family: sans-serif;
}

main {
  text-align: center;
  background: black;
  width: 100%;
  height: 1590px;
  padding-top: 5%;
}

#pic-container {
  height: 30%;
  margin-bottom: 3%;
}

#pic-container img {
  width: 90%;
  height: 100%;
}

#text-container {
  height: 68%;
  overflow: scroll;
  width: 90%;
  margin: 0 auto;
}

#text-container p {
  color: lightgray;
  font-family: serif;
  font-size: 40px;
  text-align: justify;
  width: 99%;
}

#menu {
  background: goldenrod;
  margin: 12% auto;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -270px;
  display: none;
}
#menu ul {
  text-align: center;
  margin-top: 15%;
}

#menu ul li button {
  font-family: 'Homemade Apple', cursive;
  width: 80%;
  height: 150px;
  font-size: 60px;
  border: none;
  background: none;
  margin-bottom: 60px;
  color: black;
  border-bottom: 5px solid white;
}

iframe {
  margin-bottom: 15%;
}

#clients-image {
  width: 90%;
}


#instafeed {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#instafeed a img {
  width: 40%;
  margin: 1%;
}

#form {
  margin: 15% auto;
}

#form input {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 50px;
  margin-bottom: 5%;
  font-size: -webkit-xxx-large;
  text-align: center;
}

#form button {
    width: 60%;
    height: 100px;
    background: none;
    border: none;
    border-bottom: 10px solid white;
    font-size: 70px;
    border-radius: 10px;
    color: goldenrod;
    margin-top: 5%;
}

textarea {
  width: 90%;
  height: 300px;
  font-size: -webkit-xxx-large
}
