/* Smartphones (portrait) ----------- */
/*@media only screen and (orientation: portrait) {*/
  /* Styles */


  body {
    text-align: center;
    background: url('https://images.unsplash.com/photo-1457986828214-c743e4375f5f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=dad87212ca7e8c7d7bd8516b76f4e515');
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: -240px -200px;
}

  img {
    width: 100%;
  }

  ul {
    margin: -15% auto;
  }


  button {
      width: 100%;
      height: 80px;
      font-size: 30px;
      border: none;
      background: none;
      color: white;
  }



/*}*/
